.content{
    width: 100%;
    margin: 3px;
}
.left{
    float: left;
    height: 600px;
margin: 5px;
    width: 27%;
    background-color: #00c4ff;
    border-radius: 5px;
}
.right{
    float: left;
    height: 600px;
    width: 71%;
    margin: 5px;
    background-color: #00c4ff;
    border-radius: 5px;
}